<%- include('components/clientHeader', { pageTitle: 'Client Dashboard' }) %>
    Super Admin
    <li class="mb-2"><a href="/solverSignup">Assign Credentials to new Solver</a></li>
    <li class="mb-2"><a href="/adminSignup">Assign Credentials to new Admin</a></li>
    <li class="mb-2"><a href="/employeeSignup">Assign Credentials to new employee</a></li>
    <%- include('components/footer', { currentYear: new Date().getFullYear() }) %>