<%- include('components/clientHeader', { pageTitle: 'Client Dashboard' }) %>
Admin
    <li class="mb-2"><a href="/solverSignup">Assign Credentials to new Solver</a></li>

<%- include('components/footer', { currentYear: new Date().getFullYear() }) %>