</main>
<!-- <footer>
    <!-- Footer content -->
    <!-- <p>&copy; @2023 Your Company. All rights reserved.</p> -->
<!-- </footer> --> 
<footer class="bd-footer py-5 mt-5 bg-light">
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-3 mb-3">
          <a class="navbar-brand-footer" href="/">
            <img src="help.jpg" alt="loading" width="30" height="24" class="d-inline-block align-text-top">
            Sahāyakam
          </a>
          <ul class="list-unstyled small text-muted">
            <li class="mb-2">SAAS Ticket Management System, it is a backend controlled and will allow users to open tickets, assign them to respective users, enable chat functionality with media upload capabilities, and provide an API for integration into other systems. <a href="">Bootstrap team</a> with the help of <a href="">our contributors</a>.</li>
            <!-- <li class="mb-2">Code licensed <a href="" target="_blank" rel="license noopener">MIT</a>, docs <a href="" target="_blank" rel="license noopener">CC BY 3.0</a>.</li> -->
            <li class="mb-2">Currently v0.0.1.</li>
            <!-- <li class="mb-2">Analytics by <a href="" target="_blank" rel="noopener">Fathom</a>.</li> -->
          </ul>
        </div>
        <div class="col-6 col-lg-2 offset-lg-1 mb-3">
          <h5>Links</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="/">Home</a></li>
            <li class="mb-2"><a href="https://github.com/priyanshu28012002/Ticket-Management-System/blob/main/README.md">Docs</a></li>
            <!-- <li class="mb-2"><a href="/docs/5.0/examples/">Examples</a></li> -->
            <!-- <li class="mb-2"><a href="https://themes.getbootstrap.com/">Themes</a></li>
            <li class="mb-2"><a href="https://blog.getbootstrap.com/">Blog</a></li>
            <li class="mb-2"><a href="https://cottonbureau.com/people/bootstrap">Swag Store</a></li> -->
            <li class="mb-2"><a href="/solverLogin">Solver</a></li>
            <li class="mb-2"><a href="/adminLogin">Admin</a></li>
            <li class="mb-2"><a href="/login">Public HelpDesk</a></li>
            <li class="mb-2"><a href="/employeeLogin">Employee HelpDesk</a></li>
          </ul>
        </div>
        <div class="col-6 col-lg-2 mb-3">
          <h5>Guides</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="">Getting started</a></li>
            <li class="mb-2"><a href="">GitHub</a></li>
            <li class="mb-2"><a href="">Article</a></li>
            <li class="mb-2"><a href="">Tutorial</a></li>
          </ul>
        </div>
        <div class="col-6 col-lg-2 mb-3">
          <h5>Other Projects</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="">Advance Todo</a></li>
            <li class="mb-2"><a href="">1</a></li>
            <li class="mb-2"><a href="">2</a></li>
            <li class="mb-2"><a href="">3</a></li>
            <li class="mb-2"><a href="">4</a></li>
          </ul>
        </div>
        <div class="col-6 col-lg-2 mb-3">
          <h5>Social Media</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="">Email</a></li>
            <li class="mb-2"><a href="">Facebook</a></li>
            <li class="mb-2"><a href="">GitHub</a></li>
            <li class="mb-2"><a href="">Twitter</a></li>
            <li class="mb-2"><a href="">Instagram</a></li>
          </ul>
        </div>
        &copy; Copyright 2023 Priyanshu Srivastava <br> 
        The Developer will have ownership over the content they write on the website. However, the website owners claim the ownership by making the users agree to transfer ownership of the content by signing the agreement
      </div>
    </div>
  </footer>
  <!-- <script src="/socket.io/socket.io.js"></script>
  <script src="/js/chat.js"></script> -->
</body>
</html>